---
layout: default
banner:
    image: /images/headshots/8876.jpg
    overlay:
    image-position: 50% 75%
    text-align: right
    heading: Hi, I'm Sara
    subheading:
trail:
  - link: /
    breadcrumb: Home    
  - link: /about
    breadcrumb: About
seo: 
    title: The Golden Hour by Sara Schneider | About
    description: 
    keywords: 
    social_image: /images/headshots/8867.jpg
    hide-from-google: false
--- 


 {% include hero-banner.html %}

 {% include breadcrumbs.html %}
 <!-- about sara detailed section -->
 <section class="grid md:grid-cols-2 gap-10 items-center px-10p py-5p relative bg-light-grey">
      <img src="/images/headshots/8069.jpg" class="grow text-center  max-h-80 w-full object-cover object-top" alt="">

      <div class="font-montserrat">
        <h3 class="justify-right text-4xl font-italiana editable">Sara inspires people to see themselves in a different light</h3>
          <p class="editable">Sara is a joyful listener who offers one-on-one coaching to understand, inspire, and encourage women to see themselves in a fresh, authentic light.
<br><br>
          Through The Golden Hour, Sara uses her experience as a wife (20 years!), mother (16 years!), friend (40+ years!), as well as 15+ year photography experience, and convictions of her Catholic faith to help you frame or REframe your life in an authentic and personal way. 
          </p>
      </div>
 </section>

 <!-- Catholic background -->
 <section class="grid md:grid-cols-2 gap-10 items-center px-10p pb-5p bg-light-grey">

    <div class="">
        <h2 class="text-4xl font-italiana">Sara's Catholic Backgorund</h3>
        <p class="font-montserrat text-base py-5">Is it important for you to know that Sara’s faith is from a Catholic background? That’s up to you! The Golden Hour is not only for those of the Catholic faith. It is for people who appreciate a faithful perspective rooted in Christianity. Sometimes your goals and dreams align with your faith, and in that circumstance, a person may seek input from someone with a similar background. You can trust that Sara is a professional that appreciates and values every individual as God made them, and is focused on YOU meeting your goals whilst adding true joy into every aspect of your life.
        </p>
        <!-- <a href="#" class="font-italiana border-b border-dark-grey uppercase hover:border-white py-2">Read more</a> -->
    </div>

    <img src="/images/suns/kids-1.jpeg" class="text-center max-h-80 w-full object-cover" alt="Silhouettes of 3 kids at sunset">

 </section>
 <!-- instagram plug in -->
 <section class="min-h-screen bg-light-grey px-10p py-5p">
    <h2 class="text-center font-italiana text-4xl mb-5">Keep up with the latest...</h2>
<!-- LightWidget WIDGET -->

{% include instagram-widget.html %}

 </section>

<!-- testimonials section - TO DO: need to put into slider-->
{% include testimonies.html %}