---
layout: default
banner:
    image: /images/headshots/8876.jpg
    overlay:
    image-position: 25% 50%
    text-align: right
    heading: Hi, I'm Sara
    subheading:
trail:
  - link: /
    breadcrumb: Home    
  - link: /about
    breadcrumb: About
seo: 
    title: The Golden Hour by Sara Schneider | About
    description: 
    keywords: 
    social_image: /images/headshots/8867.jpg
    hide-from-google: false
--- 


 {% include hero-banner.html %}

 {% include breadcrumbs.html %}
 <!-- about sara detailed section -->
 <section class="grid lg:grid-cols-2 gap-10 items-center px-5p lg:px-10p  py-5p relative bg-light-grey">

      <div class="font-montserrat">
        <h3 class="justify-right text-4xl font-italiana editable">Sara inspires people to see themselves in a different light</h3>
          <p class="editable">Sara is a joyful listener who offers one-on-one coaching to understand, inspire, and encourage women to see themselves in a fresh, authentic light.
          <br><br>
          Through The Golden Hour, Sara uses her experience as a wife (20 years!), mother (16 years!), friend (40+ years!), as well as 15+ year photography experience, and convictions of her Catholic faith to help you frame or REframe your life in an authentic and personal way. 
          <br><br>
          Sara is midwest born and raised. She believes in hard work, cultivating a life you love, and seeking joy, even in the hard stuff. She doesn’t just talk the talk, she’s walked the walk! Years of adversity and painful experiences have fortified her resolve to live a life rooted in faith that fosters the cultivation of the kind of life you were meant for. Sara is a cheerleader. Not the rah-rah hold my poms kind of cheerleader, but more like your best friend that wants what you want just as much as you!. Sara is the kind of person that invites you to grab a blanket, curl up, and stay awhile. You’ll immediately be warmed by her ability to put you at ease in any situation.
          <br><br>
          Sara coaches clients seeking a greater sense of joy in various areas of life, including career, relationships, health, spirituality, personal growth, and overall well-being. She helps clients develop self-awareness, enhance their strengths, improve their mindset, and take practical steps towards achieving their goals, with joy!

          </p>
      </div>

      <img src="/images/headshots/8405.jpg" class="rounded-[6rem] grow text-center  max-h-80 w-full object-cover object-top hidden lg:block" alt="">
 </section>

 <!-- Catholic background -->
 <section class="grid lg:grid-cols-2 gap-10 items-center px-5p lg:px-10p  pb-5p bg-light-grey">


    <img src="/images/suns/kids-1.jpeg" class="rounded-[6rem] text-center max-h-80 w-full object-cover" alt="Silhouettes of 3 kids at sunset">

    <div class="">
        <h2 class="text-4xl font-italiana">Sara's Catholic Backgorund</h3>
        <p class="font-montserrat py-5">Is it important for you to know that Sara’s faith is from a Catholic background? That’s up to you! The Golden Hour is not only for those of the Catholic faith. It is for people who appreciate a faithful perspective rooted in Christianity. Sometimes your goals and dreams align with your faith, and in that circumstance, a person may seek input from someone with a similar background. You can trust that Sara is a professional that appreciates and values every individual as God made them, and is focused on YOU meeting your goals whilst adding true joy into every aspect of your life.
        </p>
        <!-- <a href="#" class="font-italiana border-b border-dark-grey uppercase hover:border-white py-2">Read more</a> -->
    </div>



 </section>
 <!-- instagram plug in -->
 <section class=" bg-light-grey px-5p lg:px-10p  py-5p">
    <h2 class="text-center font-italiana text-4xl mb-5">Keep up with the latest...</h2>
<!-- LightWidget WIDGET -->

{% include instagram-widget.html %}

 </section>

<!-- testimonials section - TO DO: need to put into slider-->
{% include testimonies.html %}