---
layout: post-with-sidebar
banner:
    image: /images/retreat/retreatheader-2.jpg
    overlay:
    text-align: right
    heading: Golden Glow Retreat
    subheading: Learn, Grow, and Capture Who You Are Striving to Be With Intentional Joy.
trail:
  - link: /
    breadcrumb: Home    
  - link: /golden-glow-retreat
    breadcrumb: Golden Glow Retreat
rooms:
  - header: 8 Bunk Room
    description: You and 7 of your new BFFs will have an absolute blast in this fun and comfy space. This oversized bunk room sleeps 8, has games, a lounging area, a 70" tv, and ample closet space. Choosing the bunk room will offer you the opportunity to get to know others and build friendship. In addition, there are many private nooks around the home for time in individual/group reflection, recreation, and rest. 
    spaces: 8
    price: $1,000
    image: /images/retreat/BunkRoom1.jpg
    link: https://calendly.com/ssgoldenhour/golden-glow-retreat-bunk-room?month=2024-11&date=2024-11-07
  - header: Private Room Single Occupancy
    description: Looking for a truly enriching and deeply reflective time away to pour into your retreat? Then consider a private room with a queen or king bed for the ultimate reset. Please note that not all private rooms at this retreat home have a bathroom in the room so there is a possibility that a shared hall bath may be the case. 
    spaces: 2
    price: $1,400
    image: /images/retreat/Private.jpg
    link: https://calendly.com/ssgoldenhour/golden-glow-retreat-private-room-single-occupancy
  - header: Private Room Double Occupancy
    description: This is the ultimate "bring a friend" and encounter this retreat together option! You and your friend can choose to share a private room and get some good girl bonding time while also experiencing all the retreat has to offer while still building relationships with others at the retreat. (*only one person needs to register for this option; that person should also fill out the booking questions for themselves; there will be a question asking for the name/email of the double occupant and that occupant will be emailed with the questions)
    spaces: 2
    price: $1,800 ($900 per person)
    image: /images/retreat/Private2.png
    link: https://calendly.com/ssgoldenhour/golden-glow-retreat-private-room-double-occupancy
---

<!-- Golden Glow Retreat Section -->
<section class="border-b-2 border-black pb-5p mb-5p" id="retreat">
    <div>
        <video controls autoplay class="w-full">
            <source src="videos/welcome-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="mt-4 mb-4">
        <h2>Golden Glow Retreat</h2>
        <p>The 3-Day Golden Glow Retreat will take you from getting by to glowing.
        <p>In this busy world full of demands, perhaps you are feeling unfocused, unregulated, and unfulfilled. Or maybe you are looking to live your life with more intentional joy, even amid the really hard stuff.</p>
        <p>The Golden Glow Retreat is your chance to reset and refocus. Sara will speak to living in the now and holding your current circumstances while building, planning, and striving for more. More joy, more fulfillment, and more peace. The retreat includes beautiful accommodations, every delicious meal, a fabulous massage experience, 4 group coaching sessions, one private coaching session, and surprises along the way.</p>
        <p class="font-bold">When?</p>
        <p>November 7-10, 2024</p>
        <p class="font-bold">Where?</p>
        <p>Retreat house is located 2 hours northwest of the Twin Cities in Alexandria, MN</p>
        <br>

    </div>
</section>



<!-- Retreat Details Section -->
<section class="border-b-2 border-black  pb-5p mb-5p" id="details">

    <!------------------ schedule ---------------------->
    <div class="mt-4">
        <h2>Sample Daily Schedule</h2>
        <div class="mb-4">
            <p>6:30 AM: Quiet journaling/intentions/Massage</p>
            <p>8:30AM: Breakfast</p>
            <p>9:30AM: Group Coaching Session 1</p>
            <p>10:30-11: Break/Snack/Rest/Walk</p>
            <p>11AM: Group Coaching Session 2</p>
            <p>12:30PM: Lunch</p>
            <p>1-4PM: massages; individual coaching; nature walk; downtime</p>
            <p>4PM: Presentation</p>
            <p>5-7PM: massages; indv coaching; cocktail hour</p>
            <p>7PM: Dinner</p>
            <p>8:30PM: Optional Group Activity</p>
        </div>

<!---------------- image scroll ----------------->
        <div class="flex overflow-scroll my-5p">
            <img src="/images/retreat/Tea.jpg" class="max-h-50 pr-5">
            <img src="/images/retreat/Sunset.jpg" class="max-h-50 pr-5">
            <img src="/images/retreat/Journal.jpg" class="max-h-50 pr-5">
            <img src="/images/retreat/Tea.jpg" class="max-h-50 pr-5">
        </div>
<!-- what's included -->
        <div class="my-4">
            <h2 class="">What's Included?</h2>
            <p>Four 45-minute group coaching sessions: $600 value</p>
            <p>One 30-minute private coaching session: $100 value</p>
            <p>Two 45-minute group presentations: $300 value</p>
            <p>One 50-minute massage: $90 value</p>
            <p>All meals, snacks, and drinks: $125 value</p>
            <p>Three nights of lodging: $125-$300 value</p>
            <p>Swag Bag + Sweatshirt: $75 value</p>
            <p>Individual Headshots (2-5 photos emailed): $100 value</p>
            <p class="font-bold">Value: $1665-$1840</p>
        </div>
    </div>
</section>


<!-- Room Options Section -->

<section>

    <!------------------ room options ---------------------->

<section class="pb-5p hidden lg:block" id="room-options">
    <h2 class="">Room Options</h2>
    <p>Sara has carefully selected a retreat space that has a variety of options to meet many needs and budgets. These adorable and comfortable options are listed below with links to book the space of your choosing:</p>
    
    <div class="grid grid-cols-5 gap-20 items-center pb-5">
    
    {% for item in page.rooms %}
    
        {% capture thecycle %}{% cycle 'left', 'right' %}{% endcapture %}
        {% if thecycle == 'left' %}
    
        <div class="col-span-2 py-5p">
    
            <h3>{{item.header}}</h3>
            <p>{{item.description}}</p>
            <p>Price: {{item.price}}</p>
            <p>{{item.spaces}} spaces available!</p>
            <br>
            <a href="{{ item.link }}" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book Now</a>
    
        </div>
    
        <div class="bg-cover bg-center h-[50vh] w-full col-span-3" style="background-image: url('{{ item.image }}');"></div>
    
        {% else %}
    
        <div class="bg-cover bg-center h-[50vh] w-full col-span-3" style="background-image: url('{{ item.image }}');"></div>
    
        <div class="col-span-2 py-5p">
    
            <h3>{{ item.header }}</h3>
            <p>{{ item.description }}</p>
            <p>Price: {{item.price}}</p>
            <p>{{item.spaces}} spaces available!</p>
            <br>
            <a href="{{ item.link }}" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book Now</a>
    
        </div>
    
        {% endif %}
    
    {% endfor %}

    </div>
    <!---------------- image scroll ----------------->
    <div class="flex overflow-scroll">
        <img src="/images/retreat/game-room.png" class="max-h-50 pr-5">
        <img src="/images/retreat/private3.png" class="max-h-50 pr-5">
        <img src="/images/retreat/patio.png" class="max-h-50 pr-5">
        <img src="/images/retreat/private4.png" class="max-h-50">
    </div>

    </section>




    <!-- services section MOBILE -->
<section class="p-5p block lg:hidden" id="room-options">
    <h2 class="font-italiana text-4xl pb-5p ">Room Options</h2>
    <p>Sara has carefully selected a retreat space that has a variety of options to meet many needs and budgets. These adorable and comfortable options are listed below with links to book the space of your choosing:</p>
    
    <div class="my-5">
    
        {% for item in page.rooms %}
        <div class="bg-cover bg-center h-[50vh] w-full mt-5" style="background-image: url('{{ item.image }}');"></div>

        <div class="my-10">
            <h3 class="font-italiana text-2xl">{{item.header}}</h3>
            <p class="text-base font-montserrat">{{item.description}}</p>
            <p class="text-base font-montserrat mb-5">Price: {{item.price}}</p>
            <p class="text-base font-montserrat mb-5">{{item.spaces}} spaces available!</p>
            <a href="{{ item.link }}" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book Now!</a>
        </div>
        {% endfor %}
    </div>
        <!---------------- image scroll ----------------->
        <div class="flex overflow-scroll">
            <img src="/images/retreat/game-room.png" class="max-h-50 pr-5">
            <img src="/images/retreat/private3.png" class="max-h-50 pr-5">
            <img src="/images/retreat/patio.png" class="max-h-50 pr-5">
            <img src="/images/retreat/private4.png" class="max-h-50">
        </div>
    </section>

</section>

