---
layout: default 
banner:
    image: /images/headshots/8801.jpg
    overlay: yes
    image-position: 50% 50%
    heading: The Golden Hour
    subheading: The Golden Hour by Sara Schneider is a brand of specialized services utilized individually or collectively to frame your life with intention, joy, and purpose. 
quote_image: /images/suns/sunset-6.jpeg
quote: Valuing, naming, and noticing small joys in your life makes you open to abundance, even in the midst of pain + suffering.
quote-author: Sara Schneider
seo: 
    title: The Golden Hour by Sara Schneider
    description: 
    keywords: 
    social_image: /images/headshots/8027.jpg
    hide-from-google: false
--- 

<!-- default includes header-nav.html -->
 {% include hero-banner.html %}
 <!-- {% include retreat-coming-soon.html %} -->
<!-- {% include retreat-marquee.html %} -->
 <!-- Intro to Sara -->
 <section class="grid lg:grid-cols-2 items-center px-5p lg:px-10p  lg:py-5p bg-light-grey">

    <img src="/images/headshots/8461.jpg" class="rounded-[6rem] text-center lg:p-5p max-h-80 w-full object-cover hidden lg:block" alt="a headshot of Sara Schneider">

    <div class="px-5p py-0 mb-5 lg:mb-0">
        <h2 class="text-4xl font-italiana editable mt-5p lg:mt-0">Through The Golden Hour, Sara inspires people to see themselves in a different light.</h3>
        <p class="editable font-montserrat text-base py-5">The Golden Hour is a brand of specialized services utilized individually or collectively to frame your life with intention, joy, and purpose. Through aspects of photography as her metaphor, Sara radiates interior joy, captures connection, and leaves each room a little brighter than she found it. Whether you are seeking a life coach, photographer, or speaker, Sara, through The Golden Hour, will light you up in a way that assures you, you CAN do hard things.
        </p>
        <a href="/about" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Read more</a>
    </div>

 </section>


<!-- block quote banner -->
<section class="h-[50vh] flex items-center bg-cover bg-bottom lg:bg-fixed" style="background-image:url('{{page.quote_image}}'); background-position: 50% 50%;">
        <h3 class="text-2xl lg:text-[4vw] text-center lg:text-left  editable font-italiana text-white p-10p lg:pl-10p lg:pr-[19%] leading-[2rem] lg:leading-[5rem]">"{{page.quote}}" <br><span class="text-2xl lg:text-4xl">-{{page.quote-author}}</span></h3>
</section>


<!-- Quick Links -->

    
<!-- services section -->
<!-- <section>
<h2 class="font-italiana text-4xl p-5p">Sara's Services</h2>



    <div class="grid grid-cols-3 gap-5 items-center px-5 even:flex-col-reverse">
    {% for item in site.data.services %}


        <div>
            <img src="{{item.image}}" class="h-[50vh] w-full object-cover object-center">
        </div>

        <div class="col-span-2">
            <h3 class="font-italiana text-2xl">{{item.header}}</h3>
            <p class="text-base font-montserrat">{{item.description}}</p>
            <a href="{{item.link}}" class="font-italiana border-b border-dark-grey uppercase hover:border-white py-2">Read more</a>
        </div>

    {% endfor %}
</div>

</section> -->


{% include services.html %}
<!-- {% include retreat-banner.html %} -->