---
layout: default 
banner:
    image: /images/headshots/sara-2.jpg
    overlay: true
    image-position: 50% 50%
    heading: Life Coaching
    subheading: 
trail:
    - link: /
      breadcrumb: Home    
    - link: /services
      breadcrumb: Services
    - link: /life-coaching
      breadcrumb: Life Coaching
reasons:
  - image: /images/color-blocks/yellow.png
    reason: Clarity & Goal Setting
    description: Gain clarity on your values, strengths, and goals by setting realistic and achievable goals, and then create a strategic plan to reach them. With Sara’s guidance, you can develop a clear vision for your life and take focused action steps towards achieving it.
  - image: /images/color-blocks/light-blue.png
    reason: Growth & Development
    description: Identify and overcome limiting beliefs, self-sabotaging patterns, and barriers that may be holding you back from reaching your full potential by developing new perspectives, building self-awareness, and enhancing your self-confidence. Sara will empower you to grow and evolve as an individual, and become the best version of yourself.
  - image: /images/color-blocks/burnt-orange.png
    reason: Accountability & Motivation
    description: Provides the necessary accountability and motivation to stay committed to your goals by holding you responsible for your actions and progress, and help you stay on track even when facing challenges or setbacks. Sara can provide valuable support, encouragement, and motivation to help you stay motivated, overcome obstacles, and maintain momentum towards your desired outcomes.
  - image: /images/color-blocks/dark-blue.png
    reason: Improved Relationships & Communication
    description: Improve your interpersonal skills and relationships through developing effective communication skills, enhancing your emotional intelligence, and building healthy relationships with others. Sara’s guidance on navigating difficult conversations, resolving conflicts, and establishing boundaries, can lead to more meaningful connections and improved relationships in both personal and professional aspects of life. 
  - image: /images/color-blocks/red.png
    reason: Career & Business Success
    description: If you're looking to advance your career or start a business, coaching can provide valuable guidance and support. Sara can help you identify your strengths and passions, set career or business goals, create action plans, and develop strategies for success. 
seo: 
    title: The Golden Hour by Sara Schneider | Coaching
    description: 
    keywords: 
    social_image: /images/headshots/8790.jpg
    hide-from-google: false
--- 

<!-- default includes header-nav.html -->
 {% include hero-banner.html %}

 {% include breadcrumbs.html %}


 <!-- Info section -->
 <section class="grid grid-cols-2 gap-10 px-10p py-5p items-center bg-light-grey">
  <img src="/images/headshots/8439.jpg" class="object-cover object-center w-full h-[80vh]">
    <div class="">
        <h3 class="font-italiana text-4xl">A Life Coach...</h3>
        <p class="font-montserrat text-base">is a professional who helps individuals identify and achieve their personal and professional goals. Life coaching is a thought provoking, creative, and collaborative process where a certified coach works with a client to assess their current situation, explore their desires and aspirations, and develop strategies and action plans to achieve their goals. 
        </p>
    </div>
    
 </section>

 <section class="grid grid-cols-2 gap-10 px-10p py-5p items-center bg-light-grey">

    

    <div>
        <h3 class="font-italiana text-4xl">Sara coaches clients...</h3>
        <p class="font-montserrat text-base mb-5p">seeking a greater sense of joy in various areas of life, including career, relationships, health, personal growth, and overall well-being. She helps clients develop self-awareness, enhance their strengths, improve their mindset, and take practical steps towards achieving their goals, with joy! 
        <br>Life coaches do not provide therapy or counseling, but rather focus on helping clients set and achieve goals in the present and future. Sara believes that individuals have the potential to create positive change in their lives, and that she, as a skilled coach, can facilitate that process by providing guidance, support, and motivation. Sara’s coaching sessions can be conducted through one-on-one sessions via phone or Zoom sessions. The duration of coaching engagement can vary depending on the goals and needs of the client.
          </p>
          <a href="https://calendly.com/ssgoldenhour/coaching-discovery-call" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book your FREE 15-Minute Discovery Call</a>
          <a href="https://calendly.com/ssgoldenhour/coaching-session" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book your 50-minute Session</a>

          
    </div>
    <img src="/images/headshots/Sara.jpg" class="object-cover object-center w-full h-[80vh]">

 </section>

 <!-- 5 reasons section -->


 <!-- horizontal scroll gallery -->
<section class="">
    <div class="md:flex py-5p px-10p">
        <div class="md:flex text-left">
            <h2 class="uppercase font-italiana text-4xl md:rotate-text-180">5 Reasons to Hire a Coach</h2> 
        </div>
    </div> 


    <div class="flex flex-nowrap gap-5 mx-auto overflow-x-scroll px-0 border-b border-dark-grey pb-5">
        {% for item in page.reasons %}
        <div class="basis-[30%] 3xl:basis-[20%] shrink-0 relative">
            <img src="{{item.image}}" class="grow object-cover object-center inset-0 w-full h-[20vh]">
            <h4 class="text-center font-italiana text-2xl border-b border-black pb-5">{{item.reason}}</h4>
            <p class="font-montserrat">{{item.description}}</p>
        </div>
        {% endfor %}
    </div>
</section>