---
layout: default 
banner:
    image: /images/headshots/8818.jpg
    overlay: 
    image-position: 50% 30%
    heading: Photography
    subheading: 
trail:
    - link: /
      breadcrumb: Home    
    - link: /services
      breadcrumb: Services
    - link: /photography
      breadcrumb: Photography
seo: 
    title: The Golden Hour by Sara Schneider | Photography
    description: 
    keywords: 
    social_image: /images/headshots/8706.jpg
    hide-from-google: false
--- 

<!-- default includes header-nav.html -->
 {% include hero-banner.html %}


{% include breadcrumbs.html %}


 <section class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center px-5p lg:px-10p  py-5p bg-light-grey">
    <div>
        <h3 class="font-italiana text-4xl">High School Seniors</h3>

            <div class=" py-5p">
              <h4 class="font-italiana text-xl editable">Option 1</h4>
              <p class="font-montserrat editable">60-minute session at one location with 2 outfit changes. This option will leave you with 50+ digital images via online gallery. Payment is due at the time of booking. <br><strong>Prices will increase on January 1, 2024. Book by December 31, 2023 to save!</strong></p>
              <p class="text-xl font-montserrat mb-5">$375</p>
              <a href="https://calendly.com/ssgoldenhour/senior-photography-session-60mins" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book Now</a>
            </div>
            

            <div class="py-5p">
              <h4 class="font-italiana text-xl editable">Option 2</h4>
              <p class="font-montserrat editable">90-minute session at two locations of your choosing with 4 outfit changes. This option will leave you with 80+ digital images via online gallery and a 30 page soft-sided commemorative album. Payment is due at the time of booking. <br><strong>Prices will increase on January 1, 2024. Book by December 31, 2023 to save!</strong></p>
              <p class="text-xl font-montserrat editable mb-5">$700</p>

              <a href="https://calendly.com/ssgoldenhour/senior-photo-session-90mins" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all ">Book Now</a>
            </div>

            

        <div class="lg:inline my-5 lg:my-0 ">
            <a href="/seniors-gallery.html" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">See Full Gallery</a>
            
        </div>
    </div>
    <div class="order-first lg:order-last">
        <img src="/images/best-seniors/senior-10.jpg" class="inset-0 w-full aspect-square object-cover object-[50%30%]">
    </div>
 </section>


<!-- to do: add slider carousel and fix the heading justification -->
 <section class="grid grid-cols-1 lg:grid-cols-2 gap-5 items-center px-5p lg:px-10p  pb-5p bg-light-grey">

    <div>
        <img src="/images/family-photos/family-18.jpg" class="inset-0 w-full object-cover object-bottom max-h-[75vh]">
    </div>

    <div class="">
        <div class="py-5p">
            <h3 class="font-italiana text-4xl">Families</h3>
            <p class="font-montserrat text-base">Photography for families is available in mini sessions. Mini sessions are 20-minute shoots on a predetermined date with a predetermined location that allows for group booking. Sessions typically yield 35+ images that are delivered via an online gallery with downloads and printing rights. Payment is due at the time of booking.
                <br><br>
            Family mini sessions are offered twice yearly, typically in the summer and fall. Please subscribe to The Golden Hour newsletter and follow <a href="https://instagram.com/saraschneiderphotography" target="_blank" class="border-b border-black">@saraschneiderphotography</a> on instagram for first access to upcoming mini session schedules.
            <br><br>
            If you have upcoming needs for family photography and wish to book with Sara outside her typical offerings, please inquire directly using the <a href="/contact" target="_blank" class="border-b border-black">contact form.</a> 
            <p class="text-xl font-montserrat mb-5">$375</p>

        </div>
        <div class="lg:inline my-5 lg:my-0">
            

            <a href="/families-gallery.html" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">See Full Gallery</a>
            
        </div>
    </div>
    
 </section>