---
layout: default 
banner:
    image: /images/headshots/8706.jpg
    image-position: 50% 50%
    heading: High School Seniors
    subheading: 
senior-photos:
  - /images/senior-photos/LeahK-33.jpg
  - /images/senior-photos/leahk-7.jpg
  - /images/senior-photos/leahk-4.jpg
  - /images/senior-photos/LeahK-33.jpg
  - /images/senior-photos/leahk-7.jpg
  - /images/senior-photos/leahk-4.jpg
  - /images/senior-photos/LeahK-33.jpg
  - /images/senior-photos/leahk-7.jpg
  - /images/senior-photos/leahk-4.jpg
seo: 
    title: The Golden Hour by Sara Schneider | Photography
    description: 
    keywords: 
    social_image: /images/headshots/8706.jpg
    hide-from-google: false
--- 
<!-- default includes header-nav.html -->
{% include hero-banner.html %}


<section class="p-8">
	<div class="columns-2 md:columns-3">
	{% for item in page.senior-photos %}
	
		{% include photo-loop-item-free.html %}
	
	{% endfor %}
	</div>
</section>