---
layout: default
banner:
    image: /images/best-seniors/senior-25.jpg
    image-position: 50% 50%
    heading: High School Seniors
    subheading:
trail:
    - link: /
      breadcrumb: Home    
    - link: /services
      breadcrumb: Services
    - link: /photography
      breadcrumb: Photography
    - link: /seniors-gallery
      breadcrumb: Senior Photos Gallery
senior-photos:
    - photo_image: /images/best-seniors/senior-11.jpg
    - photo_image: /images/best-seniors/senior-28.jpg
    - photo_image: /images/best-seniors/senior-44.jpg
    - photo_image: /images/best-seniors/senior-48.jpg
    - photo_image: /images/best-seniors/senior-53.jpg
    - photo_image: /images/best-seniors/senior-37.jpg
    - photo_image: /images/best-seniors/senior-14.jpg
    - photo_image: /images/best-seniors/senior-21.jpg
    - photo_image: /images/best-seniors/senior-13.jpg
    - photo_image: /images/best-seniors/senior-29.jpg
    - photo_image: /images/best-seniors/senior-6.jpg
    - photo_image: /images/best-seniors/senior-41.jpg
    - photo_image: /images/best-seniors/senior-12.jpg
    - photo_image: /images/best-seniors/senior-23.jpg
    - photo_image: /images/best-seniors/senior-51.jpg
seo:
    title: The Golden Hour by Sara Schneider | Photography
    description:
    keywords:
    social_image: /images/headshots/8706.jpg
    hide-from-google: false
---
<!-- default includes header-nav.html -->
{% include hero-banner.html %}

{% include breadcrumbs.html %}

<section class="px-5p lg:px-10p  pt-5p bg-light-grey">
  <h3 class="font-italiana text-4xl pb-5p">Senior Photos Gallery</h3>
  
</section>
<section class="px-5p lg:px-10p  pb-5p bg-light-grey">
	<div class="columns-2 lg:columns-3">
	{% for item in page.senior-photos %}
	
		{% include photo-loop-item-free.html %}
	
	{% endfor %}
	</div>
</section>