---
layout: default 
banner:
    image: /images/headshots/8583.jpg
    overlay: true
    image-position: 50% 50%
    heading: Services
    subheading:
quote_image: 
quote: 
quote-author: 
trail:
  - link-1:
    breadcrumb-1: 
  - link-2: 
    breadcrumb-2: 
seo: 
    title: The Golden Hour by Sara Schneider | Services
    description: 
    keywords: 
    social_image: /images/headshots/8583.jpg
    hide-from-google: false
--- 

<!-- default includes header-nav.html -->
{% include hero-banner.html %}



{% include services.html %}