---
layout: default 
banner:
    image: /images/headshots/sara-6.jpg
    overlay: true
    image-position: 50% 0%
    heading: Speaking Engagements
    subheading: 
trail:
    - link: /
      breadcrumb: Home    
    - link: /services
      breadcrumb: Services
    - link: /speaking-engagements
      breadcrumb: Speaking Engagements
pricing:
  - option: Webinar/Zoom guest
    price: $225
  - option: In person, less than one hour
    price: $425
  - option: In person, less than two hours
    price: $625
image: /images/suns/sunset-7.jpeg
seo: 
    title: The Golden Hour by Sara Schneider | Coaching
    description: 
    keywords: 
    social_image: /images/headshots/8421.jpg
    hide-from-google: false
--- 
<!-- default includes header-nav.html -->
{% include hero-banner.html %}

{% include breadcrumbs.html %}

<section class="px-5p lg:px-10p  py-5p bg-light-grey">
    <h3 class="font-italiana text-4xl">As a speaker, </h3>
    <p class="font-montserrat">Sara will speak to you in an authentic and inspired way that makes you feel seen, understood, and challenged.
    <br><br>
    Sara speaks from the heart. With courage and vulnerability, she genuinely shares her own unique experiences of pain, suffering, and redemption. Sara has experienced childhood trauma, infertility, failed adoptions, navigated 2 successful adoptions, suffered friends loss, navigated life with a child with mental illness/special needs, and worked through issues of county and educational failure.
    <br><br>
    In addition, Sara subscribes to a life of joy! Her secret sauce is seeking the positive in any situation. Sara will inspire you with real life experiences that will resonate with you. You’ll laugh, you’ll cry, and you’ll leave knowing you are not alone and more equipped to handle life's adversity.
    </p>
</section>
<div class="grid lg:grid-cols-2 gap-20 items-center px-5p lg:px-10p  pb-5p bg-light-grey">

    <ul class="grid divide-y divide-dark-grey border-y border-dark-grey font-montserrat">
<!-- This references data pulled from a site level data file, entered in cloudcannon by the client. -->
        {% for item in page.pricing %}
        <li class="flex justify-between w-full py-5 ">
            <p class="mb-0 leading-9 uppercase">{{ item.option }}</p>
            <p class="mb-0 leading-9">{{ item.price }}</p>
        </li>
        {% endfor %}

        <li class="py-5">
            For special events, retreats, half-day seminars or to book something specific, specific outreach is requested. Please send a detailed email to Sara at hello@sara-schneider.com.

        </li>
    </ul>


<!-- This is pulled from the front matter in the home page -->
    <div class="items-center bg-[url('{{ page.image }}')] bg-center bg-cover relative min-h-50">
    </div>


</div>
