
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    h1, h2, h3, h4  {
        /* @apply font-sans mb-[0.5em]; */
    }

    h1 {
        @apply text-3xl leading-tight;
    }
    h2 {
        @apply text-2xl leading-tight;
    }
    h3 {
        @apply text-xl leading-tight;
    }

    h3 {
        @apply text-lg leading-tight;
    }
    h4 {
        @apply text-lg leading-tight;
    }

    p {
        @apply mb-[0.5em] leading-normal;
    }
    .content h2, 
    .content h3 {
        @apply uppercase font-montserrat pb-5;
    }
    .content p {
        @apply text-center pb-5;
    }
    .content blockquote{
        @apply text-5xl font-italiana text-center max-w-xl mx-auto;
    }
    .sidebar-content h2, 
    .sidebar-content h3 {
        @apply uppercase font-montserrat pb-5;
    }
    .sidebar-content p {
        @apply text-left pb-5 font-montserrat;
    }
    .sidebar-content blockquote p{
        @apply text-5xl font-italiana text-left ;
    }

/* overlays for hero banner images */
      .overlay {
        position: relative;
      }
      
      .overlay::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }
      
      .overlay > * {
        position: relative;
      }

      .button{
        font-family: 'Italiana', sans-serif;
        text-transform: uppercase;
        color: rgb(30 30 30);
        background-color: rgb(242 239 236);
        border: 1px solid rgb(30 30 30);
        padding: 1.25rem 0.75rem;
      }
      .button:hover{
        font-family: 'Italiana', sans-serif;
        text-transform: uppercase;
        color: rgb(242 239 236);
        background-color: rgb(30 30 30);
        border: 1px solid rgb(242 239 236);
      }
}

/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    .tag {
        @apply text-sm inline-block p-1 uppercase tracking-wide text-stone-600;
    }

    .button  {
        @apply inline-block px-4 py-2 uppercase tracking-wide bg-zinc-800 text-white ;
    }

    .line-clamp-4{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }
    .even\:flex-row-reverse:nth-child(even) {
        flex-direction: row-reverse;
      }

}
  
@layer utilities {
      /* danburger */

/* hamburger menu styles */

.burger-button {
    position:fixed;
    top: 2vh;
    right: 2vh;
    z-index: 90;
    padding: 8px;
  }
  /*this is where you can change the color of the buttons*/
  .burger-button span{
    width: 40px;
    border: 2px solid rgb(30 30 30);
    background-color: rgb(30 30 30);
    display: block;
    border-radius: 22px;
    transition: 2s;
  }
  .burger-button.active span{
    @apply bg-dark-grey border-dark-grey
  }
  
  .burger-top, .burger-bottom{
    position: absolute;
  }
  
  .burger-top{
    top: -02px;
  }
  
  .burger-bottom{
    bottom: -02px;
  }
  /* make sure this has the same top as the burger button has padding*/
  .burger-button.active .burger-top{
    position: absolute;
    top: 8px;
    transform: rotateZ(45deg);
  }
  
  .burger-button.active .burger-middle{
    transform: rotateZ(180);
    border-color: rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
  }
  
  /* make sure this has the same bottom as the burger button has padding*/
  
  .burger-button.active .burger-bottom{
    position: absolute;
    bottom: 8px;
    transform: rotateZ(-45deg);
  }
  
  .burger-menu {
      @apply bg-light-grey;
      display: flex;
      position: fixed;
      top: 0vh;
      left:100vw;
      right: -100vw;
      bottom: 0vh;
      padding:5px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      z-index: 80;
      transition:1s;
      align-content:space-around;
    justify-content:space-around;
    flex-direction:column;
  }
  .burger-menu.active{
    left:50vw;
    right:0;
  }
  .burger-menu a {
    @apply text-dark-grey;
    text-decoration: none;
    font-size: 20px;
    display:block;
    padding:5px 15px;
    text-align:center;
    white-space:nowrap;
  }
}
