
<div class="bg-light-grey py-5 px-5p lg:px-10p ">
<div class="container font-montserrat uppercase text-sm inline ">
    <span class="space-x-2 lg:space-x-5">
        {% for item in page.trail %}
        <span>
            <a href="{{item.link}}" class="link-underline">{{item.breadcrumb}}</a>
        </span> 
         <span class="last:hidden">  » </span> 
        {% endfor %}
        <!-- <span class="breadcrumb_last" aria-current="page">{{item.current}}</span> -->

    </span>		
</div>
</div>
