<section class="text-center lg:text-left px-5p lg:px-10p  py-5p lg:grid justify-between lg:grid-cols-2 items-top bg-white border-t-[12px] border-gh-light-blue">
    
    
    <div class="">
        <h2 class="text-4xl font-italiana">The Golden Hour</h2>
        <p class="font-montserrat">Professional Life Coaching is not legal, medical, or clinical advice.</p>
        <div class="block text-center lg:text-left">
            <img src="/images/fowler-cert.png" class="inline h-[150px] w-[150px]">
            <a href="https://www.catholiclifecoaches.com/sara-m-schneider?from=badge"  title="Find me on Catholic Life Coaches" target="_blank"><img src="https://www.catholiclifecoaches.com/images/CLC-Badge-JPG-smaller.jpg" class="inline h-[150px] w-[175px]"></a>
        </div> 
    </div>


    <div class="justify-end text-center lg:text-right">
        <h2 class="text-4xl font-italiana hidden lg:block">Let's Conenct</h2>
        <nav class=" text-center lg:text-right mt-5 space-x-8">
            <a href="https://www.pinterest.com/saraschneidergoldenhour/" target="_blank"><i class="fa-brands fa-square-pinterest px-5" style="color: #000000;"></i></a>
            <a href="https://www.instagram.com/saraschneidergoldenhour/" target="_blank"><i class="fa-brands fa-instagram px-5" style="color: #000000;"></i></a>
            <a href="mailto:hello@sara-schneider.com" target="_blank"><i class="fa-regular fa-envelope px-5 lg:pr-0" style="color: #000000;"></i></a>
        </nav>


        <div class="shrink-0 text-center lg:text-right lg:col-span-2 flex justify-center lg:justify-end">

            {% include subscribe-form-2.html %}
            
        </div>
    </div>



</section>

