

<nav class="flex items-center justify-between px-5p z-10 border-b-[12px] border-gh-yellow">

    <div class="hidden lg:block">
        <a href="/index" class="font-italiana mb-0 tracking-widest text-3xl border-b border-transparent text-dark-grey"><img src="/images/icons/TGH-logo5v2.png" class="h-[75px]"></a>
    </div>

    <div class="font-montserrat grow text-right space-x-5 hidden lg:block">

        {% for item in site.data.nav %}
        <span class="uppercase space-x-10 text-left inline-block px-5 last:pr-0 ">
            <a href="{{item.link}}" class="link-underline">{{item.name}}</a>
        </span>
        {% endfor %}

        <span class="space-x-10 text-left inline-block px-5 last:pr-0 ">
            <div class="dropdown hidden lg:block">
                <span class="dropdown-title uppercase">Quick Booking Links</span>
                    <div class="dropdown-content">

                        <a href="https://calendly.com/ssgoldenhour/senior-photography-session-60mins" target="_blank" class="my-5 text-center link-underline">60-minute Senior Shoot</a>
                        
                        <a href="https://calendly.com/ssgoldenhour/senior-photo-session-90mins" target="_blank" class="mb-5 text-center link-underline"> 90-minute Senior Shoot </a>
                        
                        <a href="#" target="_blank" class="mb-5 text-center link-underline">Family Shoot</a>
                        
                        <a href="https://calendly.com/ssgoldenhour/coaching-discovery-call" target="_blank" class="mb-5 text-center link-underline">FREE 15-Minute Coaching Call</a>
                        
                        <a href="https://calendly.com/ssgoldenhour/coaching-session" target="_blank" class=" text-center link-underline">50-minute Coaching Session</a>
                    </div>
            </div>

        </span>
    </div>
</nav>


<nav class="lg:hidden">
    <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    <div class="burger-menu">
    {% for item in site.data.nav %}
        <a href="{{item.link}}" class="text-left inline-block px-5 last:pr-0 font-montserrat ">{{item.name}}</a>
    {% endfor %}

        <span class="text-center">
            <p class="font-montserrat text-[20px] text-center">Quick Links</p>
            <span class="">
                <a href="https://calendly.com/ssgoldenhour/senior-photography-session-60mins" target="_blank" class="my-2 font-montserrat text-center " style="white-space: wrap;">60-minute Senior Shoot</a>
                <a href="https://calendly.com/ssgoldenhour/senior-photo-session-90mins" target="_blank" class="mb-2  font-montserrat text-center" style="white-space: wrap;"> 90-minute Senior Shoot </a>
                <a href="#" target="_blank" class="mb-2  font-montserrat text-center" style="white-space: wrap;">Family Shoot</a>
                <a href="https://calendly.com/ssgoldenhour/coaching-discovery-call" target="_blank" class="mb-2  font-montserrat text-center" style="white-space: wrap;">FREE 15-Minute Coaching Call</a>
                <a href="https://calendly.com/ssgoldenhour/coaching-session" target="_blank" class="  font-montserrat text-center" style="white-space: wrap;">50-minute Coaching Session</a>
            </span>
        </span>
    </div>
</nav>
