<section class="grid md:grid-cols-2 gap-1 items-center min-h-90">
    <div class="pl-15p pr-5p order-last md:order-first">
        <h2 class="font-italiana text-4xl py-5">{{page.title}}</h2>
        <h3 class="font-montserrat uppercase pb-5">{{page.subtitle}}</h3>
        <p class="font-montserrat pb-5">{{page.description}}</p>
        <a href="#" class="uppercase button font-montserrat mb-5">Buy now</a>
    </div>
    <img src="{{page.product-image}}" class="max-h-90 object-cover inset-0 h-full w-full order-first md:order-last">
</section> 