
<section class="bg-light-grey py-5 px-5p lg:px-10p  flex justify-center pt-5p">
    <div class="font-montserrat uppercase text-sm">
        <span class="space-x-5">
            <a href="https://calendly.com/ssgoldenhour/senior-photography-session-60mins" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book 60-minute Senior Shoot</a>
            
            <a href="https://calendly.com/ssgoldenhour/senior-photo-session-90mins" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book 90-minute Senior Shoot</a>
    
            <a href="#" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book Family Shoot</a>

            <a href="https://calendly.com/ssgoldenhour/coaching-discovery-call" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book FREE 15-Minute Coaching Call</a>

            <a href="https://calendly.com/ssgoldenhour/coaching-session" class="font-italiana border  px-5 py-3 border-dark-grey uppercase hover:bg-dark-grey hover:border-light-grey hover:text-light-grey transition-all">Book 50-minute Coaching Session</a>
        </span>		
    </div>
</section>