<!DOCTYPE html>
<html lang="en">
<head>


    {% include head.html %}

</head>
<body>
    {% include header-nav.html %}

    {{content}}


    {% include footer.html %}
    <!-- <script> var MemberSpace = window.MemberSpace || {"subdomain":"cloudvent9"}; (function(d){ var s = d.createElement("script"); s.src = "https://cdn.memberspace.com/scripts/widgets.js"; var e = d.getElementsByTagName("script")[0]; e.parentNode.insertBefore(s,e); }(document)); </script> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/main.js"></script>
</body>
</html>