---
layout: default
---

<section class="lg:bg-fixed flex px-5p lg:px-10p  items-center justify-center min-h-[50vh] bg-center w-100  text-white {% if page.banner.overlay == true %} overlay {% endif %}" style="background-image:url('{{ page.banner.image }}');">

    <div class="justify-center">
        <p class="font-montserrat text-base uppercase tracking-widest text-center">{{page.banner.supheading}}</p>
        <h1 class="font-lobster text-[15vw] lg:text-[7vw] tracking-[0.1rem] mb-0 text-center">{{page.banner.heading}}</h1>
        <h2 class="font-montserrat text-base uppercase tracking-widest max-w-screen-lg text-center mt-5">{{page.banner.subheading}}</h2>
    </div>

</section>
{% include breadcrumbs.html %}


<section class="p-5 lg:flex sidebar-content">
	
	<!-- and this div holds our sidebar -->

	<div class="w-96 shrink-0">
	
		<a href="#retreat">
			<div class="p-4 m-4 bg-light-grey"> 
				<p class="mb-0">Golden Glow Retreat</p> 
			</div>
		</a>
		<a href="#details">
			<div class="p-4 m-4 bg-light-grey"> 
				<p class="mb-0">Retreat Details</p> 
			</div>
		</a>
		<a href="#room-options">
			<div class="p-4 m-4 bg-light-grey"> 
				<p class="mb-0">Room Options + Costs</p> 
			</div>
		</a>
		
	</div>


	<!-- This div holds the main blog content --> 
	<div class="p-4 sidebar-content">
		{{ content }}
	</div>

</section> 

